<title> {{ title }} </title>

<main class="container">

	<div class="row">
		
		
		<!-- Side Nav container -->
		<div class="col-md-3">

			<div class="accordion" id="accordionExample">

				<div class="accordion-item rounded-2 d-block my-2">
					<h2 class="accordion-header" id="header">
						<button id="accodion-opener" class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#type-container" aria-expanded="false" aria-controls="type-container">
							Designs
						</button>
					</h2>
					<div id="type-container" class="accordion-collapse collapse" aria-labelledby="header" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							<ul id="type-list" *ngFor="let item of DESIGNS; let i = index">
								<li class='type' (click)='switchDesign(i)'>
									{{ item['name'] }}
								</li>
							</ul>
						</div>
					</div>
				</div>

			</div>

			<!-- Button to add new design -->
			<button id="newBtn" class="btn btn-outline-secondary d-block w-75 mx-auto my-1" (click)=newDesigns()>New</button>
			<button id="saveBtn" class="btn btn-outline-primary d-block w-75 mx-auto my-1 visually-hidden" (click)=saveDesigns()>Save</button>
			<button id="cancelBtn" class="btn btn-outline-danger d-block w-75 mx-auto my-1 visually-hidden" (click)=cancelDesigns()>Cancel</button>
		</div>

		<!-- Design code -->
		<div id="designContainer" class="col-md-9">
		</div>
	</div>

</main>
