<title> {{ title }} </title>

<main class="container">

	<div class="row">
		<div class="col-md-4 col-lg-3 my-3" *ngFor="let item of VIDEOS; let i=index">
			<video style="width:100%; max-height:200px;" class="hover-shadow videos rounded-3" [src]="item['url']" (click)='playVideo(i)'></video>
		</div>
	</div>

	<div id="video-overlay" class="visually-hidden">
		<i id="left-arrow" class="bi bi-chevron-left btn rounded-circle" (click)=preVideo()></i>
		<i id="right-arrow" class="bi bi-chevron-right btn rounded-circle" (click)=nextVideo()></i>
		<i id="cancel-overlay" class="bi bi-x-octagon btn btn-light rounded-3" (click)=cancelOverlay()></i>
		<video id="videoPlayer" src=".." class="rounded-3" controls autoplay></video>
	</div>
	
	<div>
		<button id="uploadBtn" class="btn btn-outline-secondary m-1 d-block mx-auto w-auto" (click)=uploadVideo()>Upload Video</button>
		<input id="inputField" type="text" class="w-75 d-block mx-auto my-2 p-2 rounded border border-dark text-secondary text-center visually-hidden" placeholder="Video Link">
		<div id="btn-container" class="visually-hidden" style="width: max-content; margin: auto;">
			<button class="btn btn-outline-primary mx-1" (click)=saveVideo()>Save</button>
			<button class="btn btn-outline-danger mx-1" (click)=cancelInput()>Cancel</button>
		</div>
	</div>
</main>