<title> {{ title }} </title>

<main class="container">

	<div class="accordion row" id="accordionExample">

		<div class="accordion-item col-md-6 col-lg-4 rounded-2 my-3" *ngFor="let item of PROJECTS; let i=index">
			<h2 class="accordion-header" [id]="parseHeading(item['name'])">
				<button class="accordion-button collapsed" type="button" aria-expanded="false"  data-bs-toggle="collapse" [attr.data-bs-target]="parseID(item['name'])" [attr.aria-controls]="item['name']">
					{{ item['name'] }}
				</button>
			</h2>
			<div [id]="item['name']" class="accordion-collapse collapse" [attr.aria-labelledby]="parseHeading(item['name'])" data-bs-parent="#accordionExample" [style]="parseImage(item['image'])">
				<div class="accordion-body">
					{{ item['description'] }}
				</div>
			</div>
		</div>

		<div class="accordion-item col-md-6 col-lg-4 rounded-2 my-3">
			<h2 class="accordion-header" id="heading4">
				<button id="add-new-btn" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="" aria-expanded="false" aria-controls="" (click)=addProjects()>
					Add new
				</button>
			</h2>
			<div id="add-new" class="accordion-collapse collapse" aria-labelledby="heading4" data-bs-parent="#accordionExample" style="background:url(../../assets/images/add_article.jpg) no-repeat center center/cover;">
				<div class="accordion-body">
					<input class="projectInput w-100 my-1"  placeholder="Name" />
					<textarea class="projectInput w-100 mt-1" placeholder="Description"></textarea>
					<input class="projectInput w-100 mb-1" placeholder="Image URL" />
					<button class="d-block btn btn-secondary my-1 mx-auto" (click)=submitProjects()>Submit</button>
				</div>
			</div>
		</div>

	</div>

</main>