<title> {{ title }} </title>

<main class="container">

	<div class="feedback-container">
		<div class="feedback-wrapper">
			<div class="image-container d-none d-lg-block">
				<img src="../../assets/images/feedback.png" alt="IMG">
			</div>

			<div class="form validate">
				<span class="form-title">Leave your suggestions</span>

				<div class="input-wrapper validate-input" data-validate="Name is required">
					<input class="input" type="text" (focus)="onFocus(0)" name="name" placeholder="Name">
					<span class="input-focus"></span>
					<span class="input-icon">
						<i class="bi bi-person-fill" aria-hidden="true"></i>
					</span>
				</div>

				<div class="input-wrapper validate-input" data-validate = "Valid email is required: ex@abc.xyz">
					<input class="input" type="text" (focus)="onFocus(1)" name="email" placeholder="Email">
					<span class="input-focus"></span>
					<span class="input-icon">
						<i class="bi bi-envelope-fill" aria-hidden="true"></i>
					</span>
				</div>

				<div class="input-wrapper validate-input" data-validate = "Message is required">
					<textarea class="input" name="message" (focus)="onFocus(2)" placeholder="Message"></textarea>
					<span class="input-focus"></span>
				</div>

				<div class="btn-container">
					<button class="submit-btn" (click)=submitFeedback()>Send</button>
				</div>
			</div>
		</div>
	</div>
</main>