<title> {{ title }} </title>

<main class="container">
	<div>
		<span class="togglers badge btn btn-success m-1" *ngFor="let item of DATASHEETS; let i=index" (click)='switchSheet(i)'>
			{{ item['name'] }}
		</span>
	</div>

	<span id="badge-new" class="badge btn btn-secondary m-1" (click)=addSheets()>Add New</span>
	<div id="input-div" class="visually-hidden">
		<input id="badge-input-name" class="d-inline-block w-25 badge btn btn-dark m-1" placeholder="TYPE NAME">
		<input id="badge-input-url" class="d-inline-block w-50 badge btn btn-dark m-1" placeholder="TYPE URL">
		<span class="badge btn btn-primary m-1" (click)=submitSheets()>Submit</span>
		<span class="badge btn btn-danger m-1" (click)=cancelSheets()>Cancel</span>
	</div>
	
	<div>
		<iframe id="iframe" class="w-100" style="height: 480px;"></iframe>
	</div>
</main>