<title> {{ title }} </title>

<main class="container">
	<div>
		<span class="badge btn btn-primary m-1" (click)='switchSheet(1)'>Datasheet1</span>
		<span class="badge btn btn-primary m-1" (click)='switchSheet(2)'>Datasheet2</span>
		<span class="badge btn btn-primary m-1" (click)='switchSheet(3)'>Datasheet3</span>
		<span class="badge btn btn-primary m-1" (click)='switchSheet(4)'>Datasheet4</span>
		<span class="badge btn btn-secondary m-1" (click)=addSheets()>Add New</span>
	</div>
	<div>
		<div class="tabs">
			<iframe src="https://drive.google.com/file/d/1iJ0at_nC9vE8kJz5n-9RaMFDgu9V7AYT/preview" class="w-100" style="height: 480px;"></iframe>
		</div>
		<div class="tabs visually-hidden">
			<iframe src="https://drive.google.com/file/d/1X8KZBVUtWFrhJlxYKFofcbU6ZdHgY4ZJ/preview" class="w-100" style="height: 480px;"></iframe>
		</div>
		<div class="tabs visually-hidden">
			<iframe src="https://drive.google.com/file/d/1OhhA8pKTUXDpgUI_vV7ZtF0b0QbUfX_i/preview" class="w-100" style="height: 480px;"></iframe>
		</div>
		<div class="tabs visually-hidden">
			<iframe src="https://drive.google.com/file/d/1E2ulqhrYeVcGIX6-VsHj5wyC_ETjS8lz/preview" class="w-100" style="height: 480px;"></iframe>
		</div>
		<div class="tabs visually-hidden">
			<iframe src="https://drive.google.com/file/d/1X8KZBVUtWFrhJlxYKFofcbU6ZdHgY4ZJ/preview" class="w-100" style="height: 480px;"></iframe>
		</div>
	</div>
</main>